*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  min-height: 100vh;
  background: #050816;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  padding: 1.5rem 1rem;
}

.header h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 0.95rem;
  opacity: 0.8;
}

.gallery {
  flex: 1;
  display: flex;
  min-height: 60vh;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  transition:
    flex 0.5s ease,
    transform 0.5s ease,
    filter 0.5s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;

  background-size: cover;
  background-position: center;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 0;
}

.panel p {
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.panel-1 {
  background-image: url("imagenes/iphone.jpg");
}

.panel-2 {
  background-image: url("imagenes/huaewi.jpg");
}

.panel-3 {
  background-image: url("imagenes/samsung.jpg");
}

.panel-4 {
  background-image: url("imagenes/xiaomi.jpg");
}

.panel-5 {
  background-image: url("imagenes/Honor.jpg");
}


.panel.active {
  flex: 4;
  filter: brightness(1.2);
  transform: scale(1.02);
}

.panel:hover {
  filter: brightness(1.1);
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  .panel {
    min-height: 30vh;
  }
}

.info-box {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  opacity: 0.9;
  color: #fff;
}

.top-text,
.bottom-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s ease;
}

.top-text {
  top: -50px;
}

.bottom-text {
  bottom: -50px;
}

.center-text {
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 2;
}

.panel.active .top-text {
  top: 20px;
  opacity: 1;
}

.panel.active .bottom-text {
  bottom: 20px;
  opacity: 1;
}
.tech-title {
  font-size: 2rem;
  font-weight: 800;
  color: #c77dff;
  text-shadow: 0 0 10px #9d4edd, 0 0 20px #7b2cbf;
}
